#maindivhome{
    width: 100%;
    height: 100%;
}

#homemapdiv{
    width: 100%;
    height: 100%;
}

#home_nav{
    list-style-type: none;
    background-color: #2b4273;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.li_home:first-of-type{
    width: 350px;
    border-right: solid 0px black;
    box-shadow: 0px 0px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 10;
    background-color: #2b4273;
}

.li_home:last-of-type{
    width: calc(100% - 350px);
}

#img_icon_home{
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
    margin-bottom: 27px;
}

#div_navigations{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 90%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.btn_navigations{
    width: 100%;
    max-width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 0px white;
    background-color: transparent;
    cursor: pointer;
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.btn_navigations:hover{
    box-shadow: 0px 0px 5px black;
}

.btn_logout{
    width: 100%;
    max-width: 150px;
    height: 30px;
    font-size: 15px;
    border-radius: 10px;
    border: solid 1px white;
    background-color: red;
    cursor: pointer;
    color: white;
    margin-top: 30px;
}

@media screen and (max-width: 720px) {
    #home_nav{
        flex-direction: column;
    }

    .li_home:first-of-type{
        width: 100%;
        height: 300px;
    }
    
    .li_home:last-of-type{
        width: 100%;
    }
}