#div_addcompany{
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow-y: auto;
}

#nav_addcompany{
    display: flex;
    background-color: transparent;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: 20px;
}

#div_addcompany_navigations{
    background-color: transparent;
    display: flex;
    padding: 10px;
    gap: 5px;
    align-items: center;
}

#label_addcompany{
    font-size: 15px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
}

#btn_backicon{
    width: 40px;
    cursor: pointer;
    background-color: transparent;
    border: solid 0px black;
}

#div_addcompany_details{
    background-color: white;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 800px;
    border-radius: 10px;
    padding: 10px;
    flex-direction: column;
}

#default_company_img{
    width: 90%;
    height: 90%;
    max-width: 120px;
    max-height: 120px;
    margin-top: 20px;
}

#div_img_holder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#btn_upload_img{
    width: 90%;
    max-width: 120px;
    height: 30px;
    border: solid 0px black;
    border-radius: 10px;
    background-color: #2b4273;
    color: white;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 5px black;
}

#nav_company_inputs{
    background-color: transparent;
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

#company_name_input_label{
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

#company_name_holder{
    background-color: transparent;
    display: flex;
    width: 90%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-start;
}

#companyNameInput{
    width: calc(100% - 20px);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    font-size: 13px;
}

#company_subdetails_nav{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}

.li_subdetails{
    width: 50%;
}

#div_subdetails{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.subdetails_label{
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: black;
    font-size: 13px;
    font-weight: bold;
}

.subdetailsinput{
    width: 90%;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    margin-bottom: 10px;
    font-size: 13px;
}

#companyEmailInput{
    width: calc(100% - 20px);
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 0px 2px 5px black;
    margin-bottom: 10px;
    font-size: 13px;
}

#address_textarea{
    max-width: calc(90% - 20px);
    min-width: 90%;
    min-height: 100px;
    border-radius: 10px;
    border: solid 0px black;
    box-shadow: 0px 2px 5px black;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
}

#div_savebtn_holder{
    background-color: transparent;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 10px;
}

#btn_save_company{
    width: 90%;
    max-width: 150px;
    height: 35px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #2b4273;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

#btn_fmswitch_company{
    width: 90%;
    max-width: 150px;
    height: 35px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #ffbf00;
    border: solid 0px black;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

#div_selected_company_preview{
    background-color: #ffbf00;
    width: 90%;
    max-width: 400px;
    height: 100%;
    min-height: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    border: solid 0px grey;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 15px;
}

#div_selected_company_data_holder{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#p_selected_company_companyName{
    font-size: 20px;
    margin: 0px;
    color: white;
    font-weight: bold;
}

#p_selected_company_companyAddress{
    margin: 0px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

#selected_company_img{
    width: 0%;
    height: 0%;
    max-width: 100px;
    max-height: 100px;
}