#div_da_main{
    background-color: #1D3462;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    gap: 10px;
}

#div_da_header{
    /* background-color: #ffbf00; */
    background-color: transparent;
    margin-top: 15px;
    width: calc(90% - 30px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    color: white;
    gap: 10px;
    align-items: center;
}

#p_da_header_label{
    font-weight: bold;
    font-size: 15px;
}

#notifbar_div_da{
    background-color: transparent;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    align-items: center;
    gap: 5px;
}

.btn_notifbar_da{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: white;
    border: solid 0px black;
    border-radius: 10px;
}

#div_da_main_container{
    background-color: #ffbf00;
    width: calc(90% - 30px);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    flex: 1;
    margin-bottom: 20px;
    overflow-y: auto;
    max-width: 1000px;
    color: white;
    max-height: 700px;
}

#div_da_main_header{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#div_header_handler{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

.p_header_label_cont{
    margin: 0px;
}

.p_header_label_cont:first-of-type{
    font-size: 15px;
    font-weight: bold;
}

.p_header_label_cont:last-of-type{
    font-size: 13px;
}

#div_main_lists{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    padding-top: 0px;
}

.div_list_sections{
    box-shadow: 0px 0px 3px black;
    width: calc(100% - 50px);
    border-radius: 5px;
    height: calc(100% - 0px);
    background-color: white;
    color: #4B4B4B;
    overflow-y: auto;
}

.div_list_sections_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 10px);
    align-items: center;
    background-color: transparent;
}

.p_each_list_label{
    text-align: left;
    width: calc(100% - 50px);
    background-color: transparent;
    font-weight: bold;
    font-size: 15px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#hr_divider{
    width: calc(100% - 10px);
    border: solid 1px #4B4B4B;
}

.tbl_lists{
    width: 100%;
}

.tbl_th{
    font-size: 11px;
    background-color: #2b4273;
    height: 30px;
    color: white;
    width: 33.3%;
}

.tbl_th2{
    font-size: 11px;
    background-color: #2b4273;
    height: 30px;
    color: white;
    width: 25%;
}

.th_first{
    border-top-left-radius: 5px;
}

.th_last{
    border-top-right-radius: 5px;
}

#div_search_input{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 35px;
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
}

#btn_search_driver{
    width: 50px;
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    background-color: white;
    cursor: pointer;
}

#searchbox{
    border: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 50px);
    font-size: 13px;
}