#div_feedmain{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#div_newpost{
    background-color: white;
    width: 100%;
    height: 100%;
    max-width: 350px;
    box-shadow: 0px 0px 3px black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#p_postupdatedlabel{
    background-color: transparent;
    margin: 0;
    padding: 10px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

#div_postupdate_form{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

#div_indv_fields{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

#p_label_field{
    margin: 0;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: bold;
}

.input_forms_post{
    width: calc(100% - 20px);
    font-size: 13px;
    border: solid 1px #808080;
    padding-left: 10px;
    padding-right: 10px;
}

#input_post_title{
    height: 30px;
    border-radius: 10px;
}

/*checkbox */

.switch {
    display: block;
    height: 19px;
    position: relative;
    width: 30px;
    margin-left: 0px;
    margin-top: 3px;
  }
  
  .switch input {
    display:none;
  }
  
  .slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }
  
  .slider:before {
    background-color: #fff;
    bottom: 2px;
    content: "";
    height: 15px;
    left: 3px;
    position: absolute;
    transition: .4s;
    width: 15px;
  }
  
  input:checked + .slider {
    background-color: lime;
  }
  
  input:checked + .slider:before {
    transform: translateX(10px);
  }
  
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*end checkbox*/

  #div_container_switch{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  #span_switch_label{
    font-size: 12px;
    margin-top: 3px;
    color: #404040;
  }

  #input_post_file{
    width: 100%;
    margin-top: 10px;
  }

  #textarea_content{
    max-width: 290px;
    max-height: 200px;
    min-height: 100px;
    min-width: 290px;
    border-radius: 10px;
  }

  #input_post_link{
    height: 30px;
    border-radius: 10px;
    margin-top: 10px;
  }

  #select_whocansee{
    width: 100%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
  }

  #btn_confirm_post{
    width: 80px;
    height: 25px;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
    background-color: lime;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 13px;
    cursor: pointer;
    /* font-weight: bold; */
  }

  #btn_confirm_post:nth-of-type(2){
    width: 80px;
    height: 25px;
    margin-top: 0px;
    border-radius: 5px;
    border: none;
    background-color: red;
    box-shadow: 0px 0px 3px black;
    color: white;
    font-size: 13px;
    cursor: pointer;
    /* font-weight: bold; */
  }

  #div_indv_btns{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 10px;
  }

  #div_feed_posted{
    background-color: #d3d3d3;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: scroll;
    height: 100%;
  }

  #div_postslist_container{
    background-color: transparent;
    width: 100%;
  }

  .div_postsIndv{
    background-color: black;
    width: 100%;
    min-height: 270px;
    height: auto;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px black;
  }

  #div_postslist_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }

  .img_previews{
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
  }

  #div_img_container{
    width: 100%;
    height: 270px;
    border-radius: 10px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-blend-mode:color-burn; */
    cursor: pointer;
  }

  #div_preview_labels_container{
    width: calc(100% - 30px);
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
  }

  .p_labels_post{
    color: white;
    margin: 0px;
  }

  .p_labels_post:first-of-type{
    font-size: 10px;
    text-align: justify;
  }

  .p_labels_post:last-of-type{
    font-size: 15px;
    text-align: justify;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .div_content_expand{
    height: 0px;
    width: calc(100% - 30px);
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    background: linear-gradient(black 0%, white 10%);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #p_label_post_time{
    font-size: 11px;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .p_content_post{
    text-align: justify;
    font-size: 13px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .div_postcontentheader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #div_indvPostBtns{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
  }

  #btn_editpost{
    min-width: 30px;
    min-height: 30px;
    background-color: orange;
    border: solid 0px black;
    border-radius: 5px;
    cursor: pointer;
  }

  #btn_deletepost{
    min-width: 30px;
    min-height: 30px;
    background-color: red;
    border: solid 0px black;
    border-radius: 5px;
    cursor: pointer;
  }

  #div_absolute_floating_edit_post_container{
    background-color: rgba(0, 0, 0, 0.8);
    width: calc(100% - 350px);
    height: 100%;
    position: absolute;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #div_main_edit_post_form_container{
    background-color: white;
    width: calc(100% - 10px);
    height: calc(90% - 20px);
    max-height: 800px;
    max-width: 600px;
    /* overflow-y: scroll; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #div_holder_edit_post_form_container{
    width: calc(100% - 10px);
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-left: 5px;
    padding-right: 5px;
  }

  #div_edit_post_header{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #p_edit_post_label{
    font-size: 15px;
    margin: 5px;
    font-weight: bold;
  }

  #div_post_preview_container{
    width: calc(100% - 2px);
    height: 300px;
    min-height: 300px;
    overflow: hidden;
    margin-top: 10px;
    border-radius: 5px;
    border: solid 1px #ccc;
    /* box-shadow: 0px 0px 5px black; */
  }

  #img_post_preview_holder{
    width: 100%;
    border-radius: 5px;
  }

  #div_edit_post_postID_container{
    background-color: transparent;
    width: calc(100% - 10px);
    /* height: 50px; */
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #span_postID_holder{
    font-size: 15px;
    font-weight: bold;
  }

  #div_edit_post_content_container{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  #div_edit_post_title_container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 12px);
    padding-left: 5px;
    padding-right: 5px;
  }

  #p_title_label_holder{
    text-align: left;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 13px;
    font-weight: bold;
  }

  #textarea_content_edit{
    width: calc(100% - 20px);
    /* min-width: calc(100% - 20px); */
    height: 200px;
    /* height: max-content; */
    border-radius: 5px;
  }

  .input_forms_post_edit{
    width: calc(100% - 20px);
    font-size: 13px;
    border: solid 1px #e4e4e4;
    background-color: #e4e4e4;
    padding-left: 10px;
    padding-right: 10px;
    color: #5a5a5a;
}

.input_forms_post_edit:focus{
  color: black;
  background-color: white;
}

#div_edit_form_btns_container{
  width: calc(100% - 5px);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
  padding-bottom: 10px;
  padding-top: 5px;
}

.btns_edit_form_actions{
  width: 70px;
  height: 25px;
  font-size: 13px;
  border-radius: 5px;
  border: solid 0px black;
  color: white;
  cursor: pointer;
}

.btns_edit_form_actions:first-of-type{
  background-color: lime;
}

.btns_edit_form_actions:nth-of-type(2){
  background-color: orange;
}

  @media screen and (max-width: 720px) {
    #div_absolute_floating_edit_post_container{
      width: 100%;
      height: 100vh;
    }
  }