@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

#div_home_main{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: scroll; */
}

#div_home_header{
    background-color: white;
    min-height: 50px;
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 0px 2px black;
    z-index: 1;
}

#div_home_header_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 15px;
    gap: 10px;
    font-weight: bold;
    color: #252525;
}

#div_home_header_flexed{
    background-color: transparent;
    display: flex;
    flex: 1;
}

#div_home_header_date_time{
    background-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.p_header_date_time_label{
    font-size: 13px;
    color: #252525;
    font-weight: bold;
}

#div_home_main_section{
    background-color: transparent;
    display: flex;
    flex: 1;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#div_main_section_inside_container{
    /* background-color: green; */
    background-color: transparent;
    display: flex;
    width: 90%;
    max-width: 1200px;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    padding-bottom: 20px;
}

#div_header_admin_info{
    background-color: white;
    min-height: 100px;
    height: auto;
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

#div_admin_name_img{
    background-color: transparent;
    display: flex;
    gap: 0px;
    flex-direction: row;
}

#img_admin{
    width: 100%;
    height: 100%;
    max-width: 70px;
    max-height: 70px;
}

#div_admin_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    justify-content: center;
}

.p_admin_info{
    margin: 0px;
}

.p_admin_info:first-of-type{
    font-size: 15px;
    font-weight: bold;
}

.p_admin_info:last-of-type{
    font-size: 13px;
}

#div_flexed_admin_info{
    display: flex;
    flex: 1;
}

#div_admin_info_navs{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn_admin_info{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 3px black;
    background-color: #EFEFEF;
    color: #4B4B4B;
}

#div_basic_analytics_container{
    background-color: transparent; 
    display: flex;
    flex-direction: row;
}

.div_basic_analytics_indv:first-of-type{
    background-color: transparent;
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    padding-right: 10px;
}

.div_basic_analytics_indv:last-of-type{
    background-color: transparent;
    width: 40%;
}

#div_basic_analytics_map_container{
    width: calc(100% - 10px);
    height: 300px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    box-shadow: 0px 0px 2px black;
}

.div_basic_analytics_boxes_ind{
    background-color: white;
    /* width: 250px; */
    width: 49%;
    height: 150px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0px 0px 2px black;
}

.div_division_boxes_indv:first-of-type{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.div_division_boxes_indv:last-of-type{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
    padding-right: 20px;
    width: calc(30% - 20px);
}

.p_data_indv_num{
    text-align: left;
    width: 80%;
    margin: 0px;
    background-color: transparent;
    font-size: 20px;
    color: #4B4B4B;
    font-weight: bold;
}

.p_data_indv{
    text-align: left;
    width: 80%;
    margin: 0px;
    background-color: transparent;
    font-size: 15px;
    color: #4B4B4B;
    font-weight: bold;
}

.p_data_indv_bus{
    text-align: left;
    width: 80%;
    margin: 0px;
    background-color: transparent;
    font-size: 14px;
    color: #4B4B4B;
    font-weight: bold;
}

.div_data_status{
    background-color: transparent;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.p_data_inc{
    font-size: 13px;
    color: green;
}

.p_data_dec{
    font-size: 13px;
    color: red;
}

#div_advanced_analytics_container{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.div_advanced_analytics_inside{
    background-color: transparent;
    /* width: 40%; */
}

.div_advanced_analytics_inside:first-of-type{
    width: 60%;
    padding-right: 10px;
}

.div_advanced_analytics_inside:last-of-type{
    width: 40%;
}

.div_advanced_analytics_data{
    background-color: white;
    box-shadow: 0px 0px 2px black;
    width: 100%;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    height: 250px;
    padding-bottom: 10px;
}

.div_advanced_analytics_inside:first-of-type .div_advanced_analytics_data{
    background-color: white;
}

.div_advanced_analytics_inside:last-of-type .div_advanced_analytics_data{
    background-color: white;
}

#div_label_analytics_data{
    background-color: transparent;
    display: flex;
    padding: 10px;
}

#div_label_analytics_data p{
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #252525;
}

#div_recently_added_accounts_container{
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 5px;
    overflow-y: scroll;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    /* border: solid 1px grey; */
}

#div_recently_active_container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 5px;
    gap: 5px;
}

#tbl_recently_added_accounts{
    font-size: 13px;
    background-color: transparent;
    color: #4B4B4B;
}

.th_labels{
    /* width: 16.6%; */
    width: 25%;
    border-bottom: solid 1px #4B4B4B;
}

#div_recently_active_graph{
    background-color: #EFEFEF;
    display: flex;
    flex: 1;
    border-radius: 5px;
    font-size: 13px;
    justify-content: center;
    align-items: center;
    color: #4B4B4B;
    box-shadow: 0px 0px 1px black;
    /* border: solid 1px grey; */
}

#select_date_range{
    height: 25px;
    border: none;
    background-color: #EFEFEF;
    color: #4B4B4B;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    /* border: solid 1px grey; */
}

#tr_tbl_header_holder{
    width: 100%;
    position: sticky;
}

.th_labels{
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: grey;
}

.th_labels:first-of-type{
    border-top-left-radius: 5px;
}

.th_labels:last-of-type{
    border-top-right-radius: 5px;
}

.td_labels{
    font-size: 12px;
    width: 25%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.tr_tbl_data_holder{
    width: 100%;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
    /* background-color: grey; */
}

#div_nnaam_label{
    background-color: transparent;
    top: 60px;
    position: relative;
    width: 100%;
    font-size: 12px;
    color: #4B4B4B;
}

@media screen and (max-width: 1300px) {
    .div_basic_analytics_boxes_ind{
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {

    #div_advanced_analytics_container{
        flex-direction: column;
        gap: 10px;
    }

    .div_advanced_analytics_inside:first-of-type{
        width: 100%;
        padding-right: 0px;
    }
    
    .div_advanced_analytics_inside:last-of-type{
        width: 100%;
    }

    #div_basic_analytics_container{
        background-color: transparent; 
        display: flex;
        flex-direction: column;
    }
    
    .div_basic_analytics_indv:first-of-type{
        width: 100%;
    }
    
    .div_basic_analytics_indv:last-of-type{
        width: 100%;
    }

    .div_basic_analytics_indv:first-of-type{
        padding-bottom: 20px;
        padding-right: 0px;
    }

    .div_basic_analytics_boxes_ind{
        width: 100%;
    }
}