#div_listcontainer_main{
    background-color: green;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

#div_messages_list{
    background-color: #294172;
    display: flex;
    flex-direction: column;
    width: 300px;
    overflow-y: auto;
    border: solid 1px #5475BA;
    border-top: solid 0px;
    border-bottom: solid 0px;
}

#div_conversation_section{
    background-color: #294172;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
}

#div_header_messages_list{
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

#div_header_label{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
    height: 50px;
}

#p_label_header{
    margin: 0px;
    font-weight: bold;
    color: white;
    font-size: 17px;
}

#btn_new_message{
    width: 40px;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    color: white;
    background-color: transparent;
}

#btn_new_message:hover{
    background-color: #ffbf00;
    cursor: pointer;
}

#div_searchbox_holder{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#search_box{
    width: 85%;
    height: 25px;
    border-radius: 15px;
    margin-bottom: 15px;
    border: 0px;
    box-shadow: 0px 0px 2px black;
    font-size: 13px;
    padding: 5px 10px 5px 10px;
}

#div_messages_list_array_container{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.div_indv_message_head{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: calc(90% - 20px);
    margin-left: auto;
    margin-right: auto;
    min-height: 70px;
    border-radius: 10px;
    padding: 0px 10px 0px 10px;
}

.div_indv_message_head:hover{
    box-shadow: 0px 0px 2px black;
}

.img_container_messages_list{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
}

.div_info_message_head{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 10px 0px 10px ;
}

.p_info_container{
    margin: 0px;
    font-size: 13px;
    color: white;
}

.p_info_container_label{
    margin: 0px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

