#div_submap{
    width: 100%;
    height: 100%;
}

.absolute_divs_map{
    position: fixed;
    z-index: 1;
    border-radius: 5px;
    opacity: 1;
    border: solid 1px grey;
}

#div_map_header{
    background-color: white;
    top: 10px;
    margin-left: 10px;
    width: 100%;
    max-width: 350px;
    display: flex;
    padding: 0px 10px 0px 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

#div_menu_options{
    background-color: white;
    top: 70px;
    /* left: 10px; */
    margin-left: -240px;
    width: 100%;
    max-width: 200px;
    display: flex;
    padding: 0px 10px 15px 10px;
}

#menu_label{
    font-size: 15px;
    font-weight: bold;
    text-align: left;
}

#div_menu_btns{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn_menu_navigations{
    width: 100%;
    padding: 5px;
    text-align: left;
    padding-left: 10px;
    cursor: pointer;
}

#nav_menu_options{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
}

#div_iconheader_holder{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#info_div{
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_info{
    background-color: transparent;
    border: solid 0px black;
    cursor: pointer;
    color: #36454F;
}

#div_bus_stops_menu{
    background-color: white;
    bottom: 20px;
    right: -460px;
    width: 100%;
    max-width: 450px;
    height: 100%;
    max-height: 300px;
}

#nav_bus_stops_menu{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#div_bus_stops_header{
    background-color: transparent;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid 1px #B2BEB5;
}

#div_bus_stops_label{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn_bus_stops_close{
    background-color: transparent;
    border: solid 0px black;
    cursor: pointer;
}

#li_bus_stops_menu_header{
    height: 42px;
}

#li_bus_stops_data_holder{
    height: calc(100% - 42px);
    background-color: transparent;
}

#nav_bus_stops_data_section{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.li_bus_stops_data_section{
    width: 50%;
    height: 100%;
}

#div_bus_stops_list{
    background-color: transparent;
    width: calc(100% - 10px);
    display: flex;
    height: calc(100% - 10px);
    justify-content: center;
    padding: 5px;
}

#div_bus_stops_list_container{
    width: 100%;
    height: 100%;
    background-color: black;
    border-radius: 0px;
    overflow-y: auto;
}

#div_bus_stops_list_container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  #div_bus_stops_list_container::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  #div_bus_stops_list_container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0px;
  }
  
  /* Handle on hover */
  #div_bus_stops_list_container::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

#tbl_bus_stops_list{
    border-collapse:collapse;
    background-color: transparent;
    width: 100%;
    height: auto;
    border-radius: 0px;
}

#tr_header_bus_stops_list{
    height: 30px;
    background-color: grey;
    font-size: 13px;
}

.th_header_bus_stops_list:first-of-type{
    border-top-left-radius: 0px;
}

.th_header_bus_stops_list:last-of-type{
    border-top-right-radius: 0px;
}

.tr_content_bus_stops_list{
    border-bottom: solid 1px #B2BEB5;
    color: white;
    background-color: transparent;
    height: 30px;
    font-size: 13px;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.tr_content_bus_stops_list:hover{
    background-color: grey;
}

#div_add_station{
    background-color: transparent;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#label_add_station{
    font-size: 13px;
    margin: 5px;
    text-align: left;
    font-weight: bold;
}

#div_add_station_inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    padding: 10px;
    overflow-y: auto;
}

.label_inputs_stations{
    margin: 0px;
    margin-bottom: 5px;
    font-size: 13px;
}

.label_inputs_stations:last-of-type{
    margin-top: 5px;
}

.input_stations{
    margin: 2px;
    width: calc(100% - 20px);
    max-width: 170px;
    height: 20px;
    border: solid 0px black;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 0px 0px black;
    background-color: black;
    color: white;
}

.input_stations::-webkit-input-placeholder {
    color:#B2BEB5;
}

.input_stations::-moz-placeholder {
    color:#B2BEB5;
}

.input_stations::-ms-placeholder {
    color:#B2BEB5;
}

.input_stations::placeholder {
    color:#B2BEB5;
}

#div_btns_add_station{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    width: calc(100% - 20px);
    padding: 10px;
    gap: 5px;
}

.btn_add_station_indvs{
    width: 100px;
    height: 20px;
    cursor: pointer;
}

#div_selected_details{
    background-color: white;
    top: 10px;
    right: -310px;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 270px;
}

#li_station_data_holder{
    height: calc(100% - 42px);
    background-color: transparent;
    overflow-y: scroll;
}

#div_stationdetails{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#div_stationdetailstable_handler{
    background-color: transparent;
    width: calc(100% - 20px);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #B2BEB5;
}

#tbl_stationdetails{
    background-color: transparent;
    width: 100%;
    font-size: 12px;
    text-align: left;
}

.th_stationdetails{
    width: 40%;
    padding-bottom: 10px;
}

.td_stationdetails{
    width: 60%;
    padding-bottom: 10px;
}

.tr_stationdetails{
    background-color: transparent;
}

#selectedstation_label_name{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
}

#div_selecteddetails_btn{
    background-color: transparent;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.btn_selecteddetails{
    cursor: pointer;
    width: 75px;
    font-size: 12px;
    border-radius: 5px;
    border: solid 0px black;
    color: white;
}

.btn_selecteddetails:last-of-type{
    background-color: red;
}

.btn_selecteddetails:nth-of-type(2){
    background-color: #ffbf00;
}

#div_selecteddetails_status{
    background-color: black;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    color: white;
}